<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Use cases<b class="caret"> </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="uclabservices.html">Laboratory services</a></li>
      <li><a href="ucordersets.html">Order sets</a></li>
      <li><a href="ucdrugs.html">Medications</a></li>
      <li><a href="ucdevices.html">Devices</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret"> </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="labservices.html">Laboratory services</a></li>
      <li><a href="ordersets.html">Order sets</a></li>
      <li><a href="drugs.html">Medications</a></li>
      <li><a href="devices.html">Devices</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Examples<b class="caret"> </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="exlabservices.html">Laboratory services</a></li>
      <li><a href="exordersets.html">Order sets</a></li>
      <li><a href="exdrugs.html">Medications</a></li>
      <li><a href="exdevices.html">Devices</a></li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret"> </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img
            src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
</ul>
